.mobileNavbarBackdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.mobileNavbar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    background: #00002D;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbarHeader {
    text-align: right;
}